@import url('https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700|Oswald|Open+Sans:400,400i,600,600i,700,700i');

html,
body {
  background: #fff;
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

td {
  font-size: 11px;
}
